<!DOCTYPE html>
<html>
  <head>
    <title>CNAB Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
